.detailPage{
    float: right;
    width: 100%;
    background: #f4ffea;
    margin-top: -3px;
}

.details{
    width: 1230px;
    border: 1px solid #1e394e;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
    float: right;
    background: rgba(255,241,5,.3);
}

.details .right {
    width: 450px;
    float: right;
}

.details .left {
    width: 740px;
    float: right;
    padding-top: 65px;
    padding-right: 25px;
}

.dot {
    margin: 95px 70px;
    border-radius: 10px;
}

.tittle{
    background: #1e394e;
    font-size: 14pt;
    color: #ffdf02;
    width: 620px;
    height: 51px;
    line-height: 52px;
    padding: 4px 10px;
    border-radius: 10px;
    margin-bottom: 40px;
    text-align: center;
}

.tittle .price {
    float: right;
    width: 100%;
    margin-top: 40pt;
}

.price span:nth-child(1) {
    font-size: 14pt;
    color: #072260;
    float: left;
    margin-left: 5px;
}

.price span:nth-child(2) {
    font-size: 14pt;
    color: #072260;
    float: left;
}

.price span:nth-child(3) {
    font-size: 13pt;
    color: #072260;
    float: right;
}

.discount {
    width: 200px;
    height: 35px;
    display: block;
    float: right;
    margin-left: 105px;
    border-radius: 3px;
    overflow: hidden;

}

.discount-right {
    width: 80px;
    height: 100%;
    background:#1e394e ;
    display: block;
    color: #ffdf02;
    font-size: 9.5pt;
    text-align: center;
    float: right;
    padding-top: 7px;
    border-radius: 3px;
}

.discount-left {
    width: 115px;
    height: 100%;
    background: #ffdf02;
    display: block;
    color: #1e394e;
    font-size: 9.5pt;
    text-align: center;
    float: right;
    padding-top: 7px;
}

.priceforyou {
    float: right;
    width: 100%;
    height: 40px;
    margin: 30px 0;
    position: relative;
}

.priceforyou span:nth-child(1) {
    font-size: 13.5pt;
    color: #1e394e;
}

.priceforyou span:nth-child(2) {
    font-size: 14.5pt;
    color: #ff5502;
}

.priceforyou span:nth-child(3) {
    font-size: 8pt;
    color: #ff5502;
    width: 10px;
    position: absolute;
    right: 195px;
}


.addtocart-btn{
    width: 167px;
    height: 40px;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 430px;
    box-shadow: 1px 2px 3px rgb(17, 19, 98);
    float: left;
}

.btn-right{
    width: 40px;
    height: 40px;
    background: #1e394e;
    float: right;
}