.btn{
    font: inherit;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 88px;
    }

.logon-form{
    margin-top: 234px;
    margin-left: 558px;
    padding: 10px;
    background: #111362;
    color: #fff105;
}

.modal-btn{
    background: #fff105;
    color: #111362; 
    margin: 10px;
}

.btn-left{
    width: 127px;
    height: 40px;
    float: left;
    background: rgba(17,19,98,.4);
    cursor: pointer;
}

.btn-left span{
    width: 112px;
    height: 40px;
    display: block;
    color: #fff105;
    font-size: 10pt;
    line-height: 40px;
    margin-right: 8px;
    float: right;
}
